# Archivos de compilación binarios
*.exe
*.exe~
*.dll
*.so
*.dylib

# Directorio build
/build/

# Archivos de configuración generados por el editor
.idea/
.vscode/

# Dependencias
/vendor/
/pkg/*

# Archivos temporales
*.log
*.out
*.test
